html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0px;
    border: 0;
    font-size: 16px;
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font: inherit;
    vertical-align: baseline;
    display: block;
}


/* HTML5 display-role reset for older browsers */

body {
    background-color: #000000;
    /*black*/
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

a {
    color: #7c7c7c;
    /*grey*/
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 2%;
}

h3 {
    text-align: center;
    font-size: 1em;
    color: grey;
}

.caption {
    color: #7c7c7c;
    font-size: 1em;
    max-width: 75%;
}

p {
    margin-top: 3%;
    margin-bottom: 7%;
}

img {
    max-width: 100%;
    max-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Start your base/mobile styles here */

body {
    color: rgba(254, 251, 241, 0.85);
    /*white-yellow*/
    padding-right: 7%;
    padding-left: 7%;
}

.circle {
    width: 45px;
    height: 45px;
    background-color: none;
    border: solid pink;
    opacity: .75;
    z-index: 3;
    display: block;
}

#scientists {
    /*background-color: purple;*/
    position: absolute;
    bottom: 25%;
    left: 57%;
    -webkit-transition: opacity 5s ease-in;
    -moz-transition: opacity 5s ease-in;
    -o-transition: opacity 5s ease-in;
    transition: opacity 5s ease-in;
    /*content: "i"; color: red;*/
}

#transgender {
    position: absolute;
    bottom: 15%;
    right: 10%;
    -webkit-transition: opacity 5s ease-in;
    -moz-transition: opacity 5s ease-in;
    -o-transition: opacity 5s ease-in;
    transition: opacity 5s ease-in;
    /*content: "i"; color: red;*/
}

#abortion {
    position: absolute;
    bottom: 29%;
    left: 18%;
    -webkit-transition: opacity 5s ease-in;
    -moz-transition: opacity 5s ease-in;
    -o-transition: opacity 5s ease-in;
    transition: opacity 5s ease-in;
}

#immigration {
    position: absolute;
    top: 3%;
    left: 50%;
    -webkit-transition: opacity 5s ease-in;
    -moz-transition: opacity 5s ease-in;
    -o-transition: opacity 5s ease-in;
    transition: opacity 5s ease-in;
    /*content: "i"; color: red;*/
}

#homosexuality {
    position: absolute;
    top: 20%;
    right: 34%;
    -webkit-transition: opacity 5s ease-in;
    -moz-transition: opacity 5s ease-in;
    -o-transition: opacity 5s ease-in;
    transition: opacity 5s ease-in;
    /*content: "i"; color: red*/
}

#media {
    position: absolute;
    bottom: 60%;
    right: 50%;
    -webkit-transition: opacity 5s ease-in;
    -moz-transition: opacity 5s ease-in;
    -o-transition: opacity 5s ease-in;
    transition: opacity 5s ease-in;
}

.photo-container {
    width: 100%;
    position: relative;
    float: center;
    /*absolute?*/
    /*z-index: 1;*/
}

.info_slides {
    width: 100%;
    background-color: none;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 0;
    text-align: center;
    transition: opacity .5s ease-in-out;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    font-size: 1.5em;
}

.info_slides.active {
    z-index: 4;
    opacity: 1;
}

.info_popIn {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 15px 15px 15px 15px;
    font-size: 1.2em;
    text-align: center;
    color: white;
    height: 100%;
    /*display: none;*/
}

.data-text {
    text-align: center;
}

.btn_close {
    position: absolute;
    font-family: sans-serif;
    top: 1%;
    left: 99%;
    font-size: 2em;
    color: white;
    z-index: 4;
    font-weight: 900;
}

.btn_close_show {
    display: block;
    top: 1% left:92%;
}

.washington-image {
    margin-bottom: 15px;
}


/* Tablet/Desktop overrides */

@media(min-width: 518px) {
    .caption {
        text-align: center;
    }
    p {
        margin-left: 10%;
        margin-right: 10%;
    }
    p {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media(min-width: 681px) {
    figcaption {
        text-align: center;
    }
    p {
        margin-bottom: 5%;
    }
    .circle {
        width: 80px;
        height: 80px;
    }
    .info_popIn {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 15px 15px 15px 15px;
        font-size: 1.5em;
        line-height: 1.5;
        text-align: center;
        color: white;
        height: 100%;
        /*display: none;*/
    }
}

@media(min-width: 729px) {
    /* Any adjustments for desktop and larger go here. Note these styles will be applied to anything 729px or larger -- so desktop */
    .caption {
        text-align: center;
    }
}

.circle {
    width: 80px;
    height: 80px;
}
